<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body class="dark">
    <%- include('../partials/navbar', {user: locals.user}) %>
    <%- body %>

    <%- include('../partials/footer') %>
    <%- defineContent('scripts') %>

  </body>
</html>
