<div class="container-fluid">
  <div class="row">      
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12 all-grids-container">
          <h5>Live Grids:</h5>
          <table id="live-grids" class="table table-striped table-sm" class="table table-striped table-bordered table-sm grid-bot-table" cellspacing="0">
            <thead>
              <tr>
                  <th class="" scope="col">Strategy</th>
                  <th class="" scope="col">Instance</th>
                  <th class="grid-side-col" scope="col">Market</th>
                  <th class="" scope="col">Account</th>
                  <th class="grid-date-col" scope="col">StartedAt</th>
              </tr>
            </thead>
            <tbody>
              <% if (instances.length == 0) { %>
                <tr><td colspan="5">No grids currently running</td></tr>
              <% } else { %>
                <% instances.forEach(instance => { %>
                  <tr>
                    <td><%= instance.strategy.strategy_name %></td>
                    <td><a href="/strategy-instance/<%= instance.id %>"><%= instance.id %></a></td>
                    <td><%= instance.strategy.symbol %></td>
                    <td><%= instance.strategy.account.account_name %></td>
                    <td><%= instance.started_at.toISOString() %></td>
                  </tr>
                <% }) %>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 all-events-container">
          <h5>Last Events:</h5>
          <table id="last-events" class="table table-striped table-sm" class="table table-striped table-bordered table-sm grid-bot-table" cellspacing="0">
            <thead>
              <tr>
                <th class="grid-date-col" scope="col">Date</th>
                <th class="" scope="col">Strategy</th>
                <th class="" scope="col">Instance</th>
                <th class="grid-event-col" scope="col">Event</th>
                <th class="grid-desc-col" scope="col">Description</th>
                <th class="grid-desc-col" scope="col">Params</th>
              </tr>
            </thead>
            <tbody>
              <% if (events.length == 0) { %>
                <tr><td colspan="6">No Events found</td></tr>
              <% } else { %>
                <% events.forEach(event => { %>
                  <tr>
                    <td><%= event.createdAt.toISOString() %></td>
                    <td><%= event.strategy_instance.strategy.strategy_name %></td>
                    <td><a href="/strategy-instance/<%= event.strategy_instance.id %>"><%= event.strategy_instance.id %></a></td>
                    <td><%= event.event %></td>
                    <td><%= event.message %></td>
                    <td><%= event.params ? JSON.stringify(event.params) : '' %></td>
                  </tr>
                <% }) %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-3 all-balance-container">
      <h5>Balances:</h5>
      <table id="balance-list" class="table table-striped table-sm" class="table table-striped table-bordered table-sm grid-bot-table" cellspacing="0">
        <thead>
        <tr>
            <th class="" scope="col">Account</th>
            <th class="grid-side-col" scope="col">Coin</th>
            <th class="grid-qty-col" scope="col">Free</th>
            <th class="grid-qty-col" scope="col">Total</th>
        </tr>
        </thead>
        <tbody>         
          <% accounts.forEach(account => { %>
            <% if (account.wallet_balance) { %>
              <% Object.entries(account.wallet_balance).forEach(entry => { %>
                <% if (!['free', 'used', 'info', 'total'].includes(entry[0])) { %>
                  <tr>
                    <td><a href="/account/<%= account.id %>"><%= account.account_name %></a></td>
                    <td><%= entry[0] %></td>
                    <td><%= entry[1].free %></td>
                    <td><%= entry[1].total %></td>
                  </tr>                 
                <% } %>
              <% }) %>
            <% } %>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

</div>

