<div class="container">
    <div class="row align-items-center">
        <div class="col-md-12 order-md-1 text-center text-md-left pr-md-5">
            <h1>Account</h1>
            <div class="form-row">
                <label class="col-sm-2 col-form-label">Currency:</label>
                <span class="form-control col-sm-10 wrap-anyware"><%= transaction.currency %></span>
            </div>
            <div class="form-row">
                <label class="col-sm-2 col-form-label">Transaction:</label>
                <span class="form-control col-sm-10 wrap-anyware"><%= transaction.transaction_raw %></span>
            </div>
            <div class="form-row">
                <label class="col-sm-2 col-form-label">Hash:</label>
                <span class="form-control col-sm-10 wrap-anyware"><%= transaction.transaction_hash %></span>
            </div>
            <div class="form-row">
                <label class="col-sm-2 col-form-label">Addresses:</label>
                <span class="form-control col-sm-10 wrap-anyware">
                    <% locals.addresses.forEach((address, i) => { %>
                        <%= i+1 %> -> <%= address.address %><br/>                     
                    <% }) %>
                </span>
            </div>
            <div class="form-row">
                <label class="col-sm-2 col-form-label">txid:</label>
                <span class="form-control col-sm-10 wrap-anyware"><%= transaction.txid %></span>
            </div>
            <div class="form-row">
                <label class="col-sm-2 col-form-label">Status:</label>
                <span class="form-control col-sm-10"><%= transaction.status %></span>
            </div>
            <div class="form-row">
                <label class="col-sm-2 col-form-label">Fee:</label>
                <span class="form-control col-sm-10"><%= transaction.fee %></span>
            </div>
            <div class="form-row">
                <label class="col-sm-2 col-form-label">Sent at:</label>
                <span class="form-control col-sm-10"><%= transaction.sent_at ? transaction.sent_at.toISOString() : ''%></span>
            </div>
            <div class="form-row">
                <label class="col-sm-2 col-form-label">Valid:</label>
                <span class="form-control col-sm-10"><%= transaction.valid?"yes":"no" %></span>
            </div>
            <div class="form-row">
                <label class="col-sm-2 col-form-label">Send requested at:</label>
                <span class="form-control col-sm-10"><%= transaction.send_requested_at ? transaction.send_requested_at.toISOString() : '' %></span>
            </div>


            <div class="form-row">
                <label class="col-sm-2 col-form-label">Deposit status:</label>
                <span class="form-control col-sm-10"><%= transaction.deposit_status %></span>
            </div>
            <div class="form-row">
                <label class="col-sm-2 col-form-label">Deposited At:</label>
                <span class="form-control col-sm-10"><%= transaction.deposited_at ? transaction.deposited_at.toISOString() : '' %></span>
            </div>
            <div class="form-row">
                <label class="col-sm-2 col-form-label">Deposit id:</label>
                <span class="form-control col-sm-10"><%= transaction.deposit_id %></span>
            </div>
            <div class="form-row">
                <label class="col-sm-2 col-form-label">Deposit:</label>
                <% 
                    let json = transaction.deposit;
                    if (json) {
                        delete json['info'];
                    }
                %>
                <span class="form-control col-sm-10 wrap-anyware"><pre><%= json ? JSON.stringify(json, null, 2):'' %></pre></span>
            </div>


            <div class="form-row">
                <div class="col-md-3">
                    <form action="/account-broadcast-transaction/<%=transaction.id%>/delete" method="post">
                        <input type="hidden" name="account_id" value="<%= transaction.account_id%>"/>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
                <% if (transaction.status == 'created') { %>
                    <div class="col-md-3">
                        <form action="/account-broadcast-transaction/<%=transaction.id%>/send" method="post">
                            <input type="hidden" name="account_id" value="<%= transaction.account_id%>"/>
                            <button class="btn btn-danger" type="submit">Send transaction now</button>
                        </form>
                    </div>                     
                <% } %>
            </div>
        </div>
    </div>
</div>