<div class="container-fluid">
  <div class="row vh-100" style="padding-top: 36px;">
    <div class="col-md-12">
      <h5>
        Grid: 
        <%= instance.strategy.strategy_name %> - 
        <%= instance.strategy.account.account_name %> -
        <%= instance.strategy.account.exchange.exchange_desc %> -
        <%= instance.strategy.account.account_type.account_type_name %>
        <%= instance.strategy.account.paper?"(paper)":"" %>
        <% if (instance.started_at) { %>
          (<%= instance.started_at.toISOString() %> 
        <% } else { %>
          (not started
        <% } %>
        <% if (instance.stopped_at) { %>
            <% if (instance.is_syncing) { %>
            - <%= instance.stopped_at.toISOString() %>) syncing...
            <% } else { %>  
            - <%= instance.stopped_at.toISOString() %>)
            <% } %>

        <% } else if (instance.running && instance.stop_requested_at != null) { %>
          - stopping...)
        <% } else { %>
          - )
        <% } %>

        <% if (instance.running && instance.stop_requested_at == null) { %>
          <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-send-event" data-callback="sendInstanceSendOrderEvent" data-parameter="<%= instance.id%>">Try send pending orders</button>

          <form class="form-inline float-right" action="/strategy-instance/<%= instance.id %>/stop" method="post">
            <button class="btn btn-danger btn-sm" type="submit">Stop</button>
          </form>             
        <% } else if (!instance.running && !instance.is_syncing ) { %>
          <form class="form-inline float-right" action="/strategy-instance/<%= instance.id %>/recover" method="post">
            <button class="btn btn-danger btn-sm" type="submit">Start Recovery</button>
          </form>                
        <% } %>
      </h5>
      <table id="grid" data-instance="<%= instance.id %>" class="table table-striped table-bordered table-sm grid-bot-table" cellspacing="0">
        <thead>
          <tr>
            <th class="grid-price-col" scope="col">Price</th>
            <th class="grid-idbuy-col" scope="col">IdBuy</th>
            <th class="grid-qty-col" scope="col">QtyBuy</th>
            <th class="grid-qty-col" scope="col">SizeBuy</th>
            <th class="grid-idsell-col" scope="col">IdSell</th>
            <th class="grid-qty-col" scope="col">QtySell</th>
            <th class="grid-qty-col" scope="col">SizeSell</th>
            <th class="grid-position-col" scope="col">Position</th>
            <th class="grid-qty-col" scope="col">OrderQty</th>
            <th class="grid-qty-col" scope="col">Filled</th>
            <th class="grid-side-col" scope="col">Side</th>
            <th class="grid-active-col" scope="col">Active</th>
            <th class="grid-idbuy-col" scope="col">GridOrder</th>
            <th class="grid-exchorder-col" scope="col">Order</th>
            <th class="grid-exchorder-col" scope="col">MatchId</th>
            <th class="grid-exchorder-col" scope="col">Id</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 orders-container">
            <h5>Orders</h5>
            <table id="orders" class="table table-striped table-bordered table-sm grid-bot-table" cellspacing="0">
              <thead>
                <tr>
                  <th class="grid-price-col" scope="col">Price</th>
                  <th class="grid-qty-col" scope="col">Amount</th>
                  <th class="grid-price-col" scope="col">Cost</th>
                  <th class="grid-side-col" scope="col">Side</th>
                  <th class="grid-status-col" scope="col">Status</th>
                  <th class="grid-date-col" scope="col">Date</th>
                  <th class="grid-qty-col" scope="col">Filled</th>
                  <th class="grid-price-col" scope="col">Average</th>
                  <th class="grid-qty-col" scope="col">TradeFilled</th>
                  <th class="grid-side-col" scope="col">TradeOk</th>
                  <th class="grid-exchorder-col" scope="col">Order</th>
                  <th class="grid-exchorder-col" scope="col">Id</th>
                  <th class="grid-exchorder-col" scope="col">MatchId</th>
                </tr>
              </thead>
              <tbody>         
              </tbody>
            </table>
          </div>
          <div class="col-md-6 trades-container">
            <h5>Trades</h5>
            <table id="trades" class="table table-striped table-bordered table-sm grid-bot-table" cellspacing="0">
              <thead>
                <tr>
                  <th class="grid-price-col" scope="col">Price</th>
                  <th class="grid-qty-col" scope="col">Amount</th>
                  <th class="grid-price-col" scope="col">Cost</th>
                  <th class="grid-side-col" scope="col">Side</th>
                  <th class="grid-qty-col" scope="col">Fee</th>
                  <th class="grid-side-col" scope="col">FeeCoin</th>
                  <th class="grid-date-col" scope="col">Date</th>
                  <th class="grid-side-col" scope="col">TakerMaker</th>
                  <th class="grid-exchorder-col" scope="col">Order</th>
                  <th class="grid-exchorder-col" scope="col">Trade</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 events-container">
            <h5>Events</h5>
            <table id="events" class="table table-striped table-bordered table-sm grid-bot-table" cellspacing="0">
              <thead>
                <tr>
                  <th class="grid-date-col" scope="col">Date</th>
                  <th class="grid-event-col" scope="col">Event</th>
                  <th class="grid-desc-col" scope="col">Description</th>
                  <th class="grid-desc-col" scope="col">Params</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- contentFor('scripts') %>
<script src="/javascripts/grid.js"></script>
<%- include('../partials/confirm-callback', {id:"modal-send-event", okbutton:"Send", msg:"Do you want to send order event for this instance?"}) %>