<div class="container-fluid">
    <div class="row" style="padding-top: 36px;">
      <div class="col-md-12">
        <h5>
          <% if (grid.instanceId == undefined) { %>
            Import Grid:            
          <% } else { %>
            Recover Grid: 
          <% } %>
          <%= grid.strategyName %> - 
          <%= account.account_name %> -
          <%= account.exchange.exchange_desc %> -
          <%= account.account_type.account_type_name %>
          <%= account.paper?"(paper)":"" %>
        </h5>


        <form class="form-inline float-sm-right" action="/strategy-instance/<%= instance.id %>/commit/<%= id %>" method="post">
          <button type="button" name="submit_commit" class="btn btn-primary mb-2 btn-sm float-right" data-toggle="modal" data-target="#modal-commit">Start</button>
          <button type="button" name="submit_commit" class="btn btn-primary mb-2 btn-sm float-right" style="display:none" data-toggle="modal" data-target="#modal-commit-dirty">Start</button>

        </form>

        <form action="/strategy-instance/<%= instance.id %>/recover/<%= id %>" method="post">
          <div class="container-fluid">
            <% if (locals.errors && locals.errors[""]) { %>
              <p class="small text-danger"><%= errors[""] %></p>
             <% } %>
    
             <% if (locals.errors && Object.keys(locals.errors).length > 0) { %>
              <p class="small text-danger">Some errors has been found, please check it out
             <% } %>
            <div class="row">
              <label for="price" class="col-sm-1 col-form-label">Price</label>
              <div class="col-sm-2">
                <input type="text" name="price" value="<%= locals.formData && locals.formData.price ? locals.formData.price : grid.price %>">
                <% if (grid.lastPrice == null) { %>
                  <p class="small text-warning">We couldn't get the grid price automatically !!!</p>
                <% } %>
                <% if (locals.errors && locals.errors.price) { %>
                  <p class="small text-danger"><%= errors.price %></p>
                 <% } %>
              </div>
              <label for="initial_position" class="col-sm-1 col-form-label">Initial position</label>
              <div class="col-sm-2">
                <input type="text" name="initial_position" value="<%= locals.formData && locals.formData.initial_position ? locals.formData.initial_position : grid.initialPosition %>">
                <% if (locals.errors && locals.errors.initial_position) { %>
                  <p class="small text-danger"><%= errors.initial_position %></p>
                 <% } %>
              </div>
            </div>
            <div class="row">
              <label for="active_sells" class="col-sm-1 col-form-label">Active Sells</label>
              <div class="col-sm-2">
                <input type="text" name="active_sells" value="<%= locals.formData && locals.formData.active_sells ? locals.formData.active_sells : grid.activeSells %>">
                <% if (locals.errors && locals.errors.active_sells) { %>
                  <p class="small text-danger"><%= errors.active_sells %></p>
                 <% } %>
              </div>
              <label for="active_buys" class="col-sm-1 col-form-label">Active Buys</label>
              <div class="col-sm-2">
                <input type="text" name="active_buys" value="<%= locals.formData && locals.formData.active_buys ? locals.formData.active_buys : grid.activeBuys %>">
                <% if (locals.errors && locals.errors.active_buys) { %>
                  <p class="small text-danger"><%= errors.active_buys %></p>
                 <% } %>
              </div>
            </div>
            <button type="submit" name="submit_update" class="btn btn-primary mb-2 btn-sm">Update data</button>
            <button type="button" name="submit_reset" class="btn btn-primary mb-2 btn-sm" data-toggle="modal" data-target="#modal-reset">ResetRecovery</button>
            <p class="small text-danger">(*) Empty price to remove row price</p>
          </div>
          <button type="submit" name="submit_up_1" class="btn btn-primary mb-2 btn-sm">+1</button>
          <button type="submit" name="submit_up_5" class="btn btn-primary mb-2 btn-sm">+5</button>
          <table id="grid" class="table table-striped table-bordered table-sm grid-bot-table" cellspacing="0">
            <thead style="position: sticky;top: 0">
              <tr>
                <th class="grid-price-col" scope="col">Price(*)</th>
                <th class="grid-qty-col" scope="col">NewQty</th>
                <th class="grid-idbuy-col" scope="col">IdBuy</th>
                <th class="grid-qty-col" scope="col">Qty</th>
                <th class="grid-qty-col" scope="col">Size</th>
                <th class="grid-idsell-col" scope="col">IdSell</th>
                <th class="grid-position-col" scope="col">Position</th>
                <th class="grid-qty-col" scope="col">NewOrderQty</th>
                <th class="grid-qty-col" scope="col">OrderQty</th>
                <th class="grid-qty-col" scope="col">Filled</th>
                <th class="grid-side-col" scope="col">Side</th>
                <th class="grid-active-col" scope="col">Active</th>
                <th class="grid-side-col" scope="col">Order Id</th>
                <th class="grid-side-col" scope="col">Match Id</th>
                <th class="grid-qty-col" scope="col">LastQty</th>
                <th class="grid-qty-col" scope="col">LastOrderQty</th>
                <th class="grid-qty-col" scope="col">LastFilled</th>
                <th class="grid-side-col" scope="col">LastSide</th>
              </tr>
            </thead>
            <tbody>
              <% let currentPricePlaced = false; %>
              <% grid.grid.forEach((element, index) => { %>
                  <% 
                    const classColor = element.side == 'buy' ? 'table-success' :(element.side ? 'table-danger' : '');
                    let classBorder = '';
                    if (!currentPricePlaced) {
                      if (index == grid.grid.length-1) {
                        classBorder = 'current-price-bottom-border';
                        currentPricePlaced = true;
                      } else if (grid.currentPrice >= element.price) {
                        classBorder = 'current-price-top-border';
                        currentPricePlaced = true;
                      }
                    }
                  %>
                  <tr class="<%= classColor %> <%= classBorder %>">
                      <td>
                        <% let field = "price-"+element.price %>
                        <input type="text" name="<%= field %>" value="<%= locals.formData && locals.formData[field] ? locals.formData[field] : element.price %>">
                        <% if (locals.errors && locals.errors[field]) { %>
                          <span data-toggle="tooltip" data-placement="right" title="<%= errors[field] %>">
                            <span style="pointer-events: none;" class="small text-danger">?</span>
                          </span>
                        <% } %>
                        <% if (classBorder != '') { %>
                          <span data-toggle="tooltip" data-placement="<%= classBorder == 'current-price-bottom-border'?'bottom':'top' %>" title="<%= grid.currentPrice %>&#160;at&#160;<%= new Date(grid.currentPriceTimestamp).toISOString().replaceAll('-', '\u2011') %>">
                            <span style="pointer-events: none;" class="small">$$</span>
                          </span>                         
                        <% } %>
                      </td>
                      <td>
                        <% field = "qty-"+element.price %>
                        <input type="text" name="<%= field %>" value="<%= locals.formData && locals.formData[field] ? locals.formData[field] : element.newQty %>">
                        <% if (locals.errors && locals.errors[field]) { %>
                          <span data-toggle="tooltip" data-placement="right" title="<%= errors[field] %>">
                            <span style="pointer-events: none;" class="small text-danger">?</span>
                          </span>
                        <% } %>
                      </td>
                      <td><%= index+1 %></td>
                      <td><%= element.qty %></td>
                      <td><%= element.cost %></td>
                      <td><%= index+2 %></td>
                      <td><%= element.positionBeforeExecution %></td>
                      <td>
                        <% field = "orderqty-"+element.price %>
                        <input type="text" name="<%= field %>" value="<%= locals.formData && locals.formData[field] ? locals.formData[field] : element.newOrderQty %>">
                        <% if (locals.errors && locals.errors[field]) { %>
                          <span data-toggle="tooltip" data-placement="right" title="<%= errors[field] %>">
                            <span style="pointer-events: none;" class="small text-danger">?</span>
                          </span>
                        <% } %>
                      </td>
                      <td><%= element.orderQty %></td>
                      <td><%= element.filled %></td>
                      <%
                        let classSide = '';
                        if (element.side == 'sell' && grid.currentPrice >= element.price) {
                          classSide = 'grid-sell-entry-will-be-executed';
                        } else if (element.side == 'buy' && grid.currentPrice <= element.price) {
                          classSide = 'grid-buy-entry-will-be-executed';
                        }
                      %>
                      <td class="<%= classSide %>"><%= element.side %></td>                         
                      <td><%= element.active %></td>
                      <td><%= element.order_id %></td>
                      <td><%= element.matching_order_id %></td>
                      <td><%= element.lastQty %></td>
                      <td><%= element.lastOrderQty %></td>
                      <td><%= element.lastFilled %></td>
                      <td><%= element.lastSide %></td>
                  </tr>
                  <% element.dups.forEach((dup) => { %>
                    <tr class="<%= classColor %>">
                      <td colspan="5"></td>
                      <td><%= dup.positionBeforeExecution %></td>
                      <td><%= dup.orderQty %></td>
                      <td><%= dup.filled %></td>
                      <td><%= dup.side %></td>
                      <td><%= dup.active %></td>
                      <td><%= dup.order_id %></td>
                      <td><%= dup.matching_order_id %></td>
                  </tr>
                  
                  <% }) %>
              <% }) %>
            </tbody>
          </table>
          <button type="submit" name="submit_down_1" class="btn btn-primary mb-2 btn-sm">+1</button>
          <button type="submit" name="submit_down_5" class="btn btn-primary mb-2 btn-sm">+5</button>
        </form>
      </div>
    </div>
</div>
<%- contentFor('scripts') %>
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    $("form :input").change(function() {
      if (!$("#myform").data("changed")) {
        $("form").data("changed",true);
        $("button[data-target='#modal-commit']").hide();
        $("button[data-target='#modal-commit-dirty']").show();
      }
    });
  });
</script>
<%- include('../partials/confirm-submit', {id:"modal-reset", okbutton:"Reset", msg:"Do you want to reset recovery?"}) %>
<%- include('../partials/confirm-submit', {id:"modal-commit", okbutton:"Commit", msg:"Do you want to commit your changes and start instance?"}) %>
<%- include('../partials/confirm-submit', {id:"modal-commit-dirty", okbutton:"Commit", msg:"You have modified some parameter (not sent to the server). Do you want to commit server changes and start instance?"}) %>