<div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 order-md-1 text-center text-md-left pr-md-5">
        <h1>Telegram chat ids 
          <a href="/notificationmanager/create-telegram" class="btn btn-primary float-right">New Telegram chat id</a>
        </h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Chat id</th>
              <th scope="col">Level</th>
              <th scope="col">Scope</th>
              <th scope="col">Is valid</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% for( let i = 0; i < locals.telegramIds.length; i++ ) { %>
              <% let telegramId = telegramIds[i]; %>
              <tr id="telegram-<%= telegramId.id%>">
                <td><span><%= telegramId.description %></span></td>
                <td><span><%= telegramId.chat_id %></span></td>
                <td><span>
                  <% if (telegramId.level == 3) { %>
                   critical
                  <% } else if (telegramId.level == 2) {%>
                    error
                  <% } else if (telegramId.level == 1) {%>
                    warning
                  <% } else if (telegramId.level == 0) {%>
                    info
                  <% } %>
                </span>
                </td>
                <td><span>
                  <% if (telegramId.scope == 'strategy') { %>
                   strategy
                  <% } else if (telegramId.scope == 'other') {%>
                    other
                  <% } else if (telegramId.scope == 'strategy-other') {%>
                    strategy-other
                  <% } else {%>
                  <% } %>
                </span>
                </td>
                <td><span><%= telegramId.is_valid ? 'yes' : 'no'%></span></td>
                <td>
                  <a href="/notificationmanager/telegram/<%= telegramId.id%>">Edit</a>
                  <% if (telegramId.scope == 'strategy' || telegramId.scope == 'strategy-other') { %>
                    <a href="/notificationmanager/telegram/<%= telegramId.id%>/strategies">Strategies</a>                   
                  <% } %>
                </td>
                <td>
                  <button class="btn btn-primary" data-toggle="modal" data-target="#modal-delete" data-callback="deleteTelegram" data-parameter="<%= telegramId.id%>">Delete</button>
                  <button class="btn btn-primary" onclick="checkTelegram('<%= telegramId.id%>')">Send test message</button>
                </td>
              </tr>
            <% } %>    
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%- contentFor('scripts') %>
  <script src="/javascripts/notification-manager.js"></script>
  <%- include('../partials/confirm-callback', {id:"modal-delete", okbutton:"Delete", msg:"Do you want to remove this chat id?"}) %>